@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


$bg-color: #1e1e1e;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($width, $flex-direction, $justify-content, $align-items: "flex-start", $gap, $margin, $padding) {
    width: $width;
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    gap: $gap;
    margin: $margin;
    padding: $padding;
}

@mixin font($weight, $style) {
    font-family: "Roboto", sans-serif;
    font-weight: $weight;
    font-style: $style;
}

@mixin reset-Button() {
    border: none;
    background-color: transparent;
}

@mixin reset-list() {
    list-style: none;
}

@mixin reset-link() {
    color: #000;
    text-decoration: none;
}

@mixin box-shadow() {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.4rem;
}

body {
    width: 100%;
    @include font(400, normal);
    color: #fff;
}

.header-container {
    background-color: $bg-color;
    @include flex(inherit, row, center, center, inherit, 0, 0);


    .logo-navigation-container {
        @include flex(100%, row, space-between, center, 0, inherit, 1rem);
        position: relative;

        .logo {
            @include flex(inherit, row, flex-start, center, 0.5rem, 0, 0);

            h3 {
                font-size: 1rem;
            }
        }

        .navigation {
            width: 20rem;
            padding: 2rem 1rem;
            left: 2rem;
            top: 5rem;
            position: absolute;
            @include box-shadow();

            .nav-items {
                text-align: center;
                font-size: 1rem;
                margin: 0.3rem;

                a {
                    @include reset-list();
                    @include reset-link();
                }
            }

            @media (min-width: 768px) {
                display: flex;
                top: 0;
                flex-direction: row;
                width: auto;
            }
        }

        button {
            @include reset-Button();
        }
    }
}

.close {
    display: none;

    @media (min-width: 768px) {
        display: none;
    }
}

.open,
.close {
    width: 25px;
    height: 25px;
}

.hide {
    display: none;
}

.open-navigation {
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
        display: none;
    }
}